.lock {
  width: 2.5rem;
  height: 2.5rem;
  margin: auto;
  background-color: $color-primary-brand;
  border-radius: 50%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
